{% extends "base_org_detail.html" %}
{% load staticfiles %}
{% block right %}
<div class="right companycenter layout" >
		<div class="head">
			<h1>机构课程</h1>
		</div>

		<div class="brief group_list">
                {% for course in per_page.object_list %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.courseCover }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ course.courseName }}</h2></a>
                        <span class="fl">课时：<i class="key">{{ course.courseTime }}</i></span>
                        <span class="fr">学习人数：{{ course.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
                {% endfor %}

		</div>


{#分页#}
		 <div class="pageturn">
            <ul class="pagelist">
                {% if per_page.has_previous %}
                    <li class="long"><a href="{% url 'org:orgdeatilcourse' org_id=org_temp.id page=per_page.previous_page_number %}">上一页</a></li>
{#                {% else %}#}
{#                    <li class="long"><a href="">上一页</a></li>#}
                {% endif %}
                <ul class="pagelist">
                    <li class="active"><a href="">{{ per_page.number }}</a></li>
                </ul>
                {% if per_page.has_next %}
                    <li class="long"><a href="{% url 'org:orgdeatilcourse' org_id=org_temp.id page=per_page.next_page_number %}">下一页</a></li>
{#                {% else %}#}
{#                    <li class="long"><a href="">下一页</a></li>#}
                {% endif %}
            </ul>
        </div>
{#分页#}
	</div>
{% endblock %}




