{% extends 'base_org_detail.html' %}
{% load staticfiles %}
{% block right %}
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构讲师</h1>
        </div>
        <div class="messagelist">
            <div class=" butler_list butler-fav-box">
                {% for per_teacher in per_page.object_list %}
                <dl class="des users">
                    <dt>
                        <a href="">
                        <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ per_teacher.teacher_photo }}"/>
                        </a>
                    </dt>
                    <dd>
                        <h1>
                            <a href="">
                            bobby<span class="key">已认证</span>
                            </a>
                        </h1>
                        <ul class="cont clearfix">
                            <li class="time">工作年限：<span>{{ per_teacher.work_years }}年</span></li>
                            <li class="c7">收藏数：<span>{{ per_teacher.fav_nums }}</span></li>
                        </ul>
                    </dd>
                </dl>
                {% endfor %}
            </div>
        </div>
    <div class="pageturn">
            <ul class="pagelist">
                {% if per_page.has_previous %}
                    <li class="long"><a href="{% url 'org:orgteachers' org_id=org_temp.id page=per_page.previous_page_number %}">上一页</a></li>
{#                {% else %}#}
{#                    <li class="long"><a href="">上一页</a></li>#}
                {% endif %}
                <ul class="pagelist">
                    <li class="active"><a href="">{{ per_page.number }}</a></li>
                </ul>
                {% if per_page.has_next %}
                    <li class="long"><a href="{% url 'org:orgteachers' org_id=org_temp.id page=per_page.next_page_number %}">下一页</a></li>
{#                {% else %}#}
{#                    <li class="long"><a href="">下一页</a></li>#}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}